


h1{
    text-align: center;
    padding-top: 100px;
}

h3{
    text-align: center;
}

body {

    background-image: url("ImagenDeComputadora.jpg") ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: auto;
}


a:hover{

    color:white;
    transition:  1s;
    transition-timing-function:ease-in-out;
    text-decoration: none;
}


